* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title__wrapper {
    margin: 40px auto;
    border: 2px solid gray;
    border-radius: 30px;
    padding: 20px;
}

.map__wrapper {
    max-width: 1200px;
    position: relative;
}

.map__wrapper svg {
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    height: 100%;
}

.continent {
    fill: none;
    stroke: gray;
    stroke-width: 2px;
    cursor: pointer;
    pointer-events: all;
}

.continent:hover {
    animation: highLightContinent 2s linear infinite;
}

@keyframes highLightContinent {
    0% {
        stroke: #000;
    }
    50% {
        stroke: blue;
    }
    100% {
        stroke: #000;
    }
}

.tooltip {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    display: none;
}

.info__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    transition: 0.3s all;
    pointer-events: none;
    z-index: 10;
}
.info__bg.active {
    pointer-events: all;
    opacity: 1;
    transition: 0.3s all;
}
.info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 20px;
    padding: 25px;
    width: 500px;
}